.button{
  border-radius: 6px;
  border: 1px solid var(--accent-color);
  background-color: white;
  color: var(--accent-color);
  font-family: "Gilroy-Bold", sans-serif;
  font-size: 14px;
  padding: 8px 18px 8px 26px;
  position: relative;
  cursor: pointer;
  transition: 0.3s ease-in-out;

  &:before,
  &:after{
    content: "";
    position: absolute;
    left: 8px;
    top: 50%;
    width: 10px;
    height: 2px;
    background-color: var(--accent-color);
    transition: inherit;
  }

  &:before{
    transform: translateY(-50%) rotate(0);
  }

  &:after{
    transform: translateY(-50%) rotate(90deg);
  }

  &:hover{
    background-color: var(--accent-color);
    color: white;

    &:before,
    &:after{
      background-color: white;
    }
  }
}