.button{
  border-radius: 6px;
  border: 1px solid var(--accent-color);
  background-color: transparent;
  color: var(--accent-color);
  font-family: "Gilroy-Bold", sans-serif;
  font-size: 14px;
  padding: 4px 8px;
  cursor: pointer;
}