.__contact-information{
    width: 80%;
    position: relative;
    margin: 0 auto;
}

.__contact-information__background{
    width: 100%;
}

.__contact-information .__contact-information--element-position{
    position: absolute;
    left: 48%;
    transform: translateX(-50%);
}

.__contact-information .__contact-information__indicator{
    bottom: 72%;
}

.__contact-information .__contact-information__indicator .tooltip{
    background-color: white;
    padding: 11px 14px;
    box-shadow: 0px 18px 30px #0000003D;
    border-radius: 4px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}

.__contact-information .__contact-information__indicator .tooltip::before{
    content: '';
    width: 15px;
    aspect-ratio: 1;
    background-color: white;
    position: absolute;
    bottom: -7px;
    left: 50%;
    transform: translateX(-50%) rotate(45deg);
}

.__contact-information .__contact-information__indicator span{
    font-family: "Gilroy-Regular", sans-serif;
    display: inline-block;
    font-size: 22px;
    line-height: 33px;
    color: #283E51;
    padding-left: 20px;
    padding-right: 5px;
}

.__contact-information .__contact-information__indicator .dot{
    width: 20px;
    aspect-ratio: 1;
    border-radius: 50%;
    background-color: white;
    margin: 30px auto 0;
}

.__contact-information .__contact-information__information{
    display: flex;
    flex-direction: column;
    align-items: center;
    bottom: 15%;
}

.__contact-information .__contact-information__information .link{
    color: white;
    font-family: "Gilroy-Regular", sans-serif;
    font-size: 20px;
    line-height: 30px;
    text-decoration: none;
}

.__contact-information .__contact-information__information .link--spacing-top{
    margin-top: 20px;
}

.__contact-information .__contact-information__information .link--text-center{
    text-align: center;
}

.__contact-information .__contact-information__information .line{
    width: 40%;
    height: 1px;
    background-color: white;
    margin-top: 18px;
    margin-bottom: 18px;
}