@font-face {
    font-family: "Gilroy-Regular";
    src: url("./assets/fonts/Gilroy-Regular.woff");
}

@font-face {
    font-family: "Gilroy-Bold";
    src: url("./assets/fonts/Gilroy-Bold.woff");
}

@font-face {
    font-family: "Butler-Light";
    src: url("./assets/fonts/Gilroy-Bold.woff");
}

.__root-element{
    width: 100vw;
}