.container{
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 43px 52px;
  border-radius: 24px;
  box-shadow: 0 0 50px #67859E26;
  max-width: 1082px;
  transition: 0.3s ease-in-out;

  &:hover{
    transform: scale(1.01);
  }

  p{
    margin: 0;
  }

  & > * {
    flex: 1;
    width: 50%;

    &:first-child{
      padding-right: 24px;
    }
  }

  @media only screen and (max-width: 1024px) {
    & {
      flex-direction: column-reverse;
      padding: 30px 20px;

      & > * {
        width: 100%;

        &:first-child{
          text-align: center;
          padding: 0;
        }
      }
    }
  }
}

.title{
  color: var(--text-color);
  font-size: 46px;
  line-height: 46px;
  font-family: "Gilroy-Bold", sans-serif;
  margin-bottom: 23px;
  margin-top: 0;

  @media only screen and (max-width: 1024px) {
    & {
      margin-top: 42px;
      margin-bottom: 18px;
      font-size: 33px;
      line-height: 33px;
    }
  }
}

.description{
  color: var(--text-color);
  font-size: 20px;
  line-height: 33px;
  font-family: "Gilroy-Regular", sans-serif;

  @media only screen and (max-width: 1024px) {
    & {
      font-size: 16px;
      line-height: 22px;
    }
  }
}

.image{
  width: 100%;
  height: auto;

  @media only screen and (max-width: 1024px) {
    & {
      max-width: 80%;
      display: block;
      margin: 0 auto;
    }
  }
}